#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

# https://zmk.dev/blog/2025/12/09/zephyr-4-1#adjust-kconfig-files
config BOARD_EYELASH_CORNE_LEFT
    select SOC_NRF52840_QIAA

config BOARD_EYELASH_CORNE_RIGHT
    select SOC_NRF52840_QIAA
